/* fonts */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

/* common style utilities*/
body{
    font-family: 'Poppins', sans-serif;
    background-color: #F3F1FF;
}
main{
    display: flex;
    justify-content: center;
}
.container{
    background-color: #FFF;
    width: 870px;
    height: 679px;
    padding: 30px;
}
hr{
    border: 1px solid #D1D1D1;
}

/* top-players */
.top-players{
    margin-bottom: 30px;
}
.section-title{
    color: #562EFF;
    font-size: 24px;
    margin-top: 0;
    margin-bottom: 20px;
}
.players{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-row-gap: 29px;
}
.player{
    display: flex;
    align-items: center;
}
.player img{
    width: 56px;
    height: 56px;
}
.player-name{
    font-size: 18px;
    margin-left: 16px;
}
hr{
    border: 1px solid #D1D1D1;
    margin-top: 22px;
    margin-bottom: 22px;
}

/* top blogs */
.blogs{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-row-gap: 26px;
}
.blog{
    display: flex;
}
.thumbnail img{
    width: 224px;
    height: 127px;
}
.blog-info{
    margin-left: 16px;
}
.blog-title{
    font-size: 20px;
}
.blog-author{
    color: #9F9F9F;
    font-size: 16px;
}
.blog-author a{
    color: #562EFF;
    text-decoration: none;
}


/* **************(complete)
9-5 Create one blog using flex layout and style adjustment
***************** */